<div class="grid">
  <div class="hero__content">
    <h1 class="hero__heading">Welcome To Rails App</h1>
    <%= link_to 'Signup', signup_path, role: "button", class: "secondary" %>
  </div>
  <figure class="hero__figure">
    <img src="https://placehold.co/1200x900" alt="cute-cat-pic">
  </figure>
</div>