/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100vh;
}

.hero__content {
  margin-top: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__figure {
  padding: 1rem;
}

.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 2rem;
}

.layout__sidebar {
  padding: 1rem;
  border-right: 2px solid var(--pico-muted-border-color);
}

form {
  width: 60%;
  margin: auto;
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}
