<hr />
<footer class="text-center">
  <nav>
    <ul>
      <small>
        &copy; <%= Time.current.year %> Ruby on Rails Tutorial. All rights reserved.
      </small>
    </ul>
    <ul>
      <li>
        <%= link_to 'About', about_path, class: "link link-hover" %>
      </li>
      <li>
        <%= link_to 'Contact', contact_path, class: "link link-hover" %>
      </li>
    </ul>
  </nav>
</footer>