<header>
  <nav>
    <ul>
      <li><strong><%= link_to 'Rails Sample App', root_path %></strong></li>
    </ul>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'Signin', '#' %></li>
    </ul>
  </nav>
</header>
<hr>